body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #0052D4, #4364F7, #6FB1FC);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
